{% extends "layouts/base.html" %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">
        Welcome, {{ user.full_name }} 👋
    </h2>

    <div class="row">

        <div class="col-md-3">
            <div class="card shadow-sm text-center p-3">
                <h6>Cloud Health Score</h6>
                <h2 class="text-success">92%</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm text-center p-3">
                <h6>Monthly Cost</h6>
                <h2>₹74,530</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm text-center p-3">
                <h6>Estimated Savings</h6>
                <h2 class="text-primary">₹12,380</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm text-center p-3">
                <h6>Reports Uploaded</h6>
                <h2>0</h2>
            </div>
        </div>

    </div>

    <div class="card mt-5 shadow-sm">

        <div class="card-body">

            <h4>Recent Activity</h4>

            <hr>

            <p>No billing reports uploaded yet.</p>

            <a href="#"
               class="btn btn-primary">

                Upload Billing Report

            </a>

        </div>

    </div>

</div>

{% endblock %}